body {
    font-family: 'CutiveMono''Georgia';
    font-size: 18px;
    color: #6f0cfb;
    background-image: url('https://i.ibb.co/K6qkJn6/v617batch2-bb-01-technology.png');
    background-size: 2733px 3284px;
}

nav {
    width:750px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px;
}

nav ul {
    display: inline-block;
    font-size: 24px;
    width: 150px;
    list-style-type: none;
} 

nav a {
    color: #268aee;
    padding: 10px 10px;
    text-decoration: none;
} 

nav a:hover {
    color: hotpink;
}

/* end of header and nav links */

h1 {
    font-size: 30px;
    color: hotpink;
    padding-top: 2px;
}

.about-me {
    padding: 20px;
    margin-top: 40px;
}

.about-me img {
    max-height: 200px;
    float: left;
    display: block;
    margin-right: 20px;
    border: 5px solid #268aee;
}

/* end of about me */

.portfolio {
    padding: 20px;
}

.portfolio img {
    opacity:0.5; /* when not hovered over img transparency is 50% */
    transition: 1s ease; /* timing for transition */
    max-height: 100px;
    display: block;
    border: 5px solid #268aee;;
    margin: 5px solid #268aee;
    margin-right: 20px;
}

.portfolio img:hover {
    opacity: 1;
    transition: 1s ease; 
}

/* end of portfolio */

.contact {
    padding: 20px;
    margin-top: 40px;
}

.contact img {
    opacity:0.5;
    transition: 1s ease;
    padding: 20px;
}

.contact img:hover {
    opacity:1;
    transition: 1s ease; 
}

/* end of contact */

footer {
    padding: 20px;
    text-align: center;
    color: #268aee;
}

/* end of footer */

@media screen and (max-width: 768px) {
    body, header, nav {
    display: flex;
    flex-direction: column;
    text-align: center; /* when on mobile all text goes centered */
    max-width: 50%; 
    width: auto; 
    height: auto;
    }
  
    .about-me {
        width: 50%;
        text-align: center;
    }

    .portfolio {
        width: 50%;
        text-align: center;
      }
  
    .contact {
      width: 50%;
      text-align: center;
    }
  }
  
/* end of media */